#header {
    width: 100%;
    height: 15%;
    background-color: aquamarine;
}
#site-title {
    color: blue;
    text-align: center;
}
#body {
    width: 100%;
}
#create-update-form {
    width: 40%;
    float: left;
}
#view-point {
    width: 60%;
    float: left;
}